


:root {
  --background-body: #fff; 
  --background-imageMain: radial-gradient(ellipse 50% 50% at 50% -5%, rgb(255, 255, 255),rgb(255, 255, 255));
  --background-imageBlog: radial-gradient(ellipse 50% 90% at 50% 50%,  rgb(255, 255, 255),rgb(255, 255, 255));
  --card-hover:rgba(0, 0, 0, 0.05);
  --text-main: #36393b;
  --text-secondary: #6b6f72;
  --primary-color: #548e9b;
  --font-family-serif: Merriweather, serif;
  --font-family-sans: 'Fira Sans', sans-serif;
}

:root.dark {
  --background-imageMain: radial-gradient(ellipse 50% 30% at 50% -5%, rgb(5, 44, 83), hsla(213, 38%, 6%, 1.00));
  --background-imageBlog: radial-gradient(ellipse 50% 90% at 50% 50%, rgb(8, 36, 64), hsla(213, 38%, 6%, 1.00));
  --card-hover:rgba(255, 255, 255, 0.05);
  --text-main: #e7e7e7;
  --text-secondary: #bbbbbb;
  --primary-color: #548e9b;
}

html {
  overflow-y: scroll;
  overflow-x: hidden;
}

@supports (scrollbar-gutter: stable) {
  html {
    overflow-y: auto;
    scrollbar-gutter: stable;
  }
}

html:before{
    content:"";
    width: 100%;
    height: 100%;
    position: fixed;
    background-image: var(--background-imageMain);
    z-index: -1;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-family-serif);
  font-size: 16px;
  line-height: 1.6;
  color: var(--text-main);
  margin: 0;
  font-family: var(--font-family-serif);
  line-height: 1.6;
  background-image: var(--background-imageMain);
  background-repeat: no-repeat;
  background-position: center center; 
  background-size: cover; 
  background-attachment: fixed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-sans);
  font-weight: 700;
  line-height: 1.2;
  margin: 0 0 0.0 0;
}

h1 {
  font-family: var(--font-family-serif);
  font-size: 2.0em;
  margin: 0 0 1em 0;
}

h2 {
  margin: 1.6em 0 0 0;
  font-size: 1.5em;
}

h3 {
  font-size: 1.35em;
}

h4 {
  font-size: 1.0em;
}

h5 {
  font-size: 0.9em;
}

h6 {
  font-size: 0.6em;
}

p,
ul,
ol {
  font-size: 1.2rem;
  line-height: 2em;
  margin: 1.0rem 0;
}

ol,
ul {
  padding-left: 2rem;
  -webkit-padding-start: 5%;
  -webkit-padding-end: 5%;
}

li {
  margin: 1rem 0;
}

li p {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

a {
  color: inherit;
  transition: color linear 0.15s;
}

a:hover {
  color: var(--primary-color);
}

p a {
  text-decoration: none;
  box-shadow: inset 0 -0.12em 0 var(--primary-color);
  -webkit-transition: box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
}

img {
  max-width: 100%;
  height: auto;
}

hr {
  padding: 0;
  border: 0;
  height: 1px;
  margin: 40px auto;
  background-color: #548e9b
  
}

code {
  font-family: 'SF Mono', menlo, inconsolata, monospace;
  font-size: calc(1em - 2px);
  color: #555;
  padding: 0.2em 0.4em;
  border-radius: 2px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

pre {
  border-radius: 8px !important;
  margin: 1.2em 0 !important;
  padding: 1.2em;
}

pre code {
  padding: 0;
}

blockquote {
  border-left: 4px solid #cccccc;
  font-size: 1.4em;
  font-style: italic;
  margin: 2rem 0;
  padding-left: 2rem;
  padding-right: 2rem;
}

blockquote p {
  padding-bottom: 6px;
}

blockquote footer {
  font-size: 1.1rem;
  text-align: right;
}

.container {
  margin: 0 auto;
  max-width: 52em;
  width: 100%;
}

.content h1 {
  font-size: 3em;
  margin: 1em 0;
}

@media (max-width: 1020px) {
  h1 {
    font-size: 3em;
  }

  .content h1 {
    font-size: 2.4em;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 14px;
  }

  p,
  ul,
  ol {
    font-size: 1rem;
    margin: 1em 0;
  }
}
